version: "3.4"

services:
  mysql:
    container_name: mysql
    image: mysql:9.3
    restart: unless-stopped
    ports:
      - "3307:3306"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - mysql:/var/lib/mysql

volumes:
  mysql:
